body {
  background-image: url('/static/img/gradient_squares.png');
}
.sc-player {
  width: 500px;
  margin-bottom: 0;
}
.label {
  background: #f66dc7;
  font-size: 14px;
  vertical-align: inherit;
}
.container {
  overflow: hidden;
  padding: 60px;
  padding-top: 40px;
}
h1 {
  font-size: 48px;
  margin-bottom: 25px;
  text-align: center;
  border-color: #999;
}
ol {
  list-style: none;
  margin-left: 0;
}
p,
li {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
}
.joke {
  width: 500px;
  margin-bottom: 30px;
}
.joke .meta {
  color: #777;
  font-size: 12px;
  overflow: hidden;
}
.joke .from {
  margin-bottom: 3px;
  float: left;
}
.joke .time {
  float: right;
}
