<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>80s Joke Line</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="It's a joke line!" />
        <meta name="author" content="Max, Sam, Ram, Houssam" />
        <!-- Le styles -->
        <link rel="stylesheet" href="/static/css/bootstrap.css" />
        <link rel="stylesheet" href="/static/css/jokeline.css" />
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script type="text/javascript"  src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script type="text/javascript" src="/static/js/jquery.js"></script>
    </head>
    <body>
        <div class="container row-fluid">
            <div class="span12">
                <h1><img src="/static/img/logo.png" alt="80s Joke Line" /></h1>
                <h2>Want to hear a joke? <span class="large-label">(647) 931-1253</span></h2>
                <p>
                    Now you can listen to the hottest jokes directly on your telephone.  Call us today and hear a world class joke told by a caller just like you!
                </p>
                <p>
                    Here's a sample joke to whet your appetite:
                </p>
                <ul class="jokes">
                    <li class="joke">
                        <iframe width="100%" height="166" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F{{ joke.id }}&amp;auto_play=false&amp;show_artwork=false&amp;color=fa8bd4"></iframe>
                    </li>
                </ul>
                <p class="tragedy">
                    To hear more jokes and to tell us your favourite joke, <strong>call us</strong> at <span class="label">(647) 931-1253</span>.
                </p>
                <p>
                    You can also visit our <a href="http://soundcloud.com/jokeline">soundcloud page</a> for more jokes.
                </p>
                <footer>
                    <p class="credits pull-left">
                        From <a href="http://twitter.com/funkaoshi">Ram</a>, <a href="http://twitter.com/mveytsman">Max</a>, <a href="http://twitter.com/letstweetbro">Houssam</a> and <a href="http://twitter.com/osirius">Sam</a>
                    </p>
                    <p class="proud pull-right">
                        <i class="icon-heart"></i> Proudly won the <a href="http://soundcloud.com/">SoundCloud</a> Prize at <a href="http://hackdays.ca/2012/04/hackto-boom/">HackTO 2012</a>.
                    </p>
                </footer>
            </div>
        </div>
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-30917927-1']);
          _gaq.push(['_trackPageview']);

          (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </body>
</html>
