<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>80s Joke Line</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="It's a joke line!">
    <meta name="author" content="Max, Sam, Ram, Houssam">

    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/jokeline.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <!--
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">80s Joke Line</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Jokes</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    -->

    <div class="container jokes">

      <h1>It's the 80s Joke Line</h1>
      <p>
        Now you can listen to the hottest jokes on your telephone. According
        to listeners like you, these are the hottest jokes right now!
      <p>
      {% if jokes %}
      <ol>
        {% for joke in jokes %}
        <li>{{ joke }}</li>
        {% endfor %}
      </ol>
      {% else %}
      <p class='tragedy'>
        <strong>Tragedy</strong>: there are no awesome jokes. You should call
        <span class="tel">(647) 931-1253</span> and tell us one.
      </p>
      {% endif %}

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/static/js/bootstap.min.js</script>
  </body>
</html>
